.carousel-control-prev .carousel-control-next {
  background-color: blanchedalmond;
}

.carousel {
  height: 12em;
  width: 30em;
}

button {
  background: transparent;
  border: none;
}

ul {
  list-style: none;
}

img {
  width: 4em;
  height: 4em;
}
