<ul class="weather-list">
  <li class="weather-line">Momentálně je venku {{weatherInfo.temperature}} &deg;C</li>
  <li class="weather-line" *ngIf="weatherInfo.windSpeed; else noWind">Právě fouká vítr o
    rychlosti{{weatherInfo.windSpeed}} m/s
  </li>
  <ng-template #noWind>
    <li>Momentálně nefouká žádný vítr</li>
  </ng-template>
  <li class="weather-line" *ngIf="weatherInfo.precip; else noPrecip">Za poslední hodinu napršelo {{weatherInfo.precip}}
    mm
  </li>
  <ng-template #noPrecip>
    <li>Za posledni hodinu neprselo</li>
  </ng-template>
  <li class="weather-line" *ngIf="weatherInfo.snow > 0; else noSnow">Za poslední hodinu napadlo {{weatherInfo.snow}} mm
    sněhu
  </li>
  <ng-template #noSnow>
    <li>Za posledni hodinu nesnězilo</li>
  </ng-template>
  <li class="weather-line">Slunce dnes vyšlo v {{weatherInfo.sunrise}}</li>
  <li class="weather-line">Slunce dnes zapadá v {{weatherInfo.sunset}}</li>
  <li class="weather-line">UV index je momentálně {{weatherInfo.uv}}</li>
</ul>
