<div class="row">
  <div class="col-md-12 text-center">
    <h1>Current weather in {{city.name}}</h1>
  </div>

  <div class="container-fluid">
    <div class="container-fluid" *ngIf="niceWeather && !loading && !tooManyCalls">
      <div class="col">
        <app-weather-icon [description]="niceWeather.description"
                          [iconSrc]="niceWeather.icon"></app-weather-icon>
      </div>
      <div class="col">
        <app-weather-details [weatherInfo]="niceWeather"></app-weather-details>
      </div>
    </div>
  </div>

  <div class="spinner" *ngIf="!niceWeather && loading && !tooManyCalls"></div>
</div>
